<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DEMOQA by Lasantha" thread-count = "2" parallel="tests" verbose="1" >
  
  <test name="DemoQa - Chrome" parallel="tests" thread-count="2" >
  
  
  
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="DemoQa.DemoQA.HomePageTest"/>
      <class name="DemoQa.DemoQA.Reg_Page"/>
      <class name="DemoQa.DemoQA.Interactions_drag"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="DemoQa - Firefox" parallel="tests" thread-count="2" >
    
    
   
  <parameter name="browser" value="firefox"  />
    <classes>
      <class name="DemoQa.DemoQA.HomePageTest"/>
      <class name="DemoQa.DemoQA.Reg_Page"/>
      <class name="DemoQa.DemoQA.Interactions_drag"/>
    </classes>
  </test>
  
  
 
</suite> <!-- Suite -->
